h Upload page

form(method="post" enctype="multipart/form-data" action="./upload")
  div
    label(for="file") Choose file to upload
    input(type="file" id="image" name="image" accept="image/png, image/jpeg")
  div
    button(type="submit") submit